@font-face {
    font-family: 'montserrat-regular';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-light';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('./fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulish-semibold';
    src: url('./fonts/Mulish-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('./fonts/Montserrat-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulish';
    src: url('./fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulish-bold';
    src: url('./fonts/Mulish-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #091535;
}

.main-section{
    display: flex;
    flex-direction: column;
    background: url('./images/bg-1-sell.png') no-repeat;
    background-size: cover;
    padding: 10% 5% 18% 8%;
}

.montserrat-light{
    font-family: 'montserrat-light';
}

.gradient-text{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 432.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#cell-mobile{
    display: none;
}

.mulish-font{
    font-family: 'mulish';
}

.mulish-semibold{
    font-family: 'mulish-semibold';
}

.mulish-bold{
    font-family: 'mulish-bold';
}

.logo{
    margin-bottom: 60px;
    align-self: center;
    position: relative;
    bottom: 70px;
}

.garantia{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.garantia-text{
    width: 500px;
}

#selo-garantia{
    width: 300px;
}

.items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blocks{
    text-align: left;
    color: #091535;
    background: url('images/small-bg-sell.png') no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
    padding: 60px 40px 60px 40px;
}

.blocks p{
    width: 279px;
    font-size: 20px;
}

.blocks-column{
    display: flex;
}

.main-header{
    font-size: 26px;
}

.last-header{
    font-size: 28px;
}

.first-page{
    width: 450px;
}

.montserrat-font{
    font-family: 'montserrat-medium';
}
.montserrat-font-bold{
    font-family: 'montserrat-bold';
}
.montserrat-font-semibold{
    font-family: 'montserrat-semibold';
}

.duvidas-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0 0 0;
}

.small-paragraphs{
    font-size: 16px;
}

.buttons{
    background: linear-gradient(rgb(212, 212, 212), rgb(175, 175, 175), rgb(163, 163, 163));
    border-radius: 3px;
    border: none;
    padding: 15px 25px 15px 25px;
    font-size: 20px;
    font-family: 'montserrat-semibold';
    box-shadow: 0px 0px 18px rgb(175, 175, 175), 0px 0px 15px rgb(212, 212, 212) inset;
    margin: auto;
    transition: 0.5s;
    color: black;
}

.secondary-header{
    font-size: 26px;
}

.sell-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0 90px 0;
    background-color: #F0F0F0;
}

#sell-button{
    font-size: 16px;
}

.price{
    text-align: center;
}

.price-text{
    font-size: 58.9px;
}

.ul-style-1 {
    width: 600px;
    padding: 70px 90px 70px 115px;
    font-size: 21px;
    color: white;
    border: 3px solid white;
    background: linear-gradient(358.43deg, #091535 -88.64%, #0b1b47 124.46%);
    border-radius: 20px;
    box-shadow: 0px 0px 18px #636363;
}

.ul-style-2 {
    padding: 70px;
    font-size: 18px;
    justify-content: center;
    border-bottom: none !important;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 18px #000000;
    background: linear-gradient(358.43deg, rgb(135, 135, 135) -88.64%, rgb(255, 255, 255) 124.46%);
    align-self: center;
    color: #091535;
}

.ul-style-2 li{
    align-self: center;
    width: 500px;
}

.buttons:hover{
    background: linear-gradient(rgb(230, 230, 230), rgb(210, 210, 210), rgb(194, 194, 194));
    transition: 0.5s;
}

.margin-block{
    margin-right: 20px;
}

.center-headers{
    text-align: center;
    margin: auto;
    font-size: 30px;
    padding: 60px 0 60px 0;
}

.align-buttons{
    display: flex;
}

del{
    color: #9A9A9A;
    margin-bottom: 50px;
}

.rect-no-bg{
    padding: 35px 30px 90px 30px;
    width: 700px;
    border: 1px solid white;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 170px;
}

.image-rect{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.fourth-section {
    padding: 60px 90px 0 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.white-font{
    color: white;
}

.smaller-button{
    font-size: 14px;
}

.third-section{
    padding: 140px 0 140px 0;
    display: flex;
    justify-content: space-evenly;
}

.texts-div{
    width: 400px;
}

.texts-div ul{
    padding-left: 15px;
}

.third-section ul{
    font-size: 16px !important;
}

a{
    text-decoration: none;
    align-self: center;
    text-align: center;
}

.fifthy-section{
    text-align: center;
    padding: 4%;
    color: white;
}

.rect-p{
    font-size: 20px;
}

footer{
    text-align: center;
    padding: 40px;
}

.zap-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;
}

.zap-p{
    font-size: 21px;
    width: 400px;
}

#img-cell{
    display: none;
}

.zap-box{
    padding: 30px;
    background: linear-gradient(358.43deg, rgb(135, 135, 135) -88.64%, rgb(255, 255, 255) 124.46%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 65px 50px 85px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 18px #636363;
}

.suporte{
    background: linear-gradient(154.4deg, #091535 16.19%, rgba(9, 21, 53, 0) 241.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 20px 0 15px 0;
}

.zap-box a{
    background-color: #64E95F;
    padding: 15px 25px 15px 25px;
    border-radius: 4px;
    color: black;
    width: 250px;
    box-shadow: 0px 0px 18px #64E95F, 0px 0px 15px #49ae46 inset;
}

@media screen and (max-width: 768px){
    .main-section{
        padding: 20px;
        background-position: -35px 70px !important;
        background: url('./images/bg-1-sell-mobile.png') no-repeat;
        background-size: cover;
        height: 900px;
    }
    .zap-section{
        flex-direction: column;
        padding: 30px 0 0 0;
    }
    .rectangles-2 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px;
        font-size: 16px;
        padding-bottom: 0;
        margin-top: 40px;
    }
    .images{
        width: 180px;
    }
    .images-box{
        position: relative;
        left: 0;
        align-self: center;
    }
    .price-text{
        font-size: 48px;
    }
    .fifthy-section{
        padding: 0 15px 30px 15px;
    }
    .rectangles-paragraphs {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .fifthy-section br{
        display: none;
    }
    .garantia{
        flex-direction: column;
        padding: 40px 0 40px 0;
    }
    .garantia-text{
        width: 90%;
        text-align: center;
    }
    #selo-garantia{
        width: 220px;
    }
    #cell-desktop{
        display: none;
    }
    .rect-no-bg {
        padding: 15px 10px 45px 10px;
        width: 100%;
        border: 1px solid white;
        border-radius: 6px;
        margin: auto;
        margin-bottom: 130px;
    }
    .rect-p{
        font-size: 16px;
    }
    .images{
        width: 200px;
    }
    #cell-mobile{
        display: block;
    }
    .ul-style-1{
        width: 100%;
        padding: 25px 45px 50px 60px !important;
        margin-top: 30px;
        font-size: 16px;
    }
    .first-page{
        width: 100%;
        text-align: center;
    }
    .logo{
        width: 180px;
        margin: 20px 0 50px 0;
        bottom: 0;
    }
    .blocks-column{
        flex-direction: column;
    }
    .blocks {
        height: 125px;
        display: flex;
        background: url('images/small-bg-sell-mobile.png') no-repeat;
        background-size: cover;
        background-color: white;
        align-items: center;
        padding: 30px 20px 30px 20px;
    }
    .items {
        display: contents;
    }
    #delete-br{
        display: none !important;
    }
    .blocks p {
        width: 250px;
        font-size: 16px;
    }
    .margin-block{
        margin: 0 0 20px 0;
    }
    .blocks p br{
        display: none;
    }
    .main-header{
        font-size: 20px;
    }
    .small-paragraphs{
        font-size: 16px;
        margin-bottom: 0 !important;
    }
    #sell-button{
        font-size: 14px;
        text-align: center;
    }
    .buttons, input[type="submit"] {
        padding: 15px;
        font-size: 16px;
    }
    .zap-box{
        margin: 20px 0 60px 0;
        width: 100%;
        padding: 25px;
    }
    .small-paragraphs{
        font-size: 13px;
    }
    .zap-p{
        width: 100%;
    }
    #zap-img{
        width: 80px;
    }
    .zap-section{
        flex-direction: column;
        padding: 5px 10px 0 10px;
    }
    .second-section article {
        width: 100%;
    }
    .copyright{
        font-size: 12px;
    }
    .second-section {
        padding: 4% 4% 10% 4%;
        flex-direction: column;
    }
    .align-buttons{
        text-align: center;
    }
    .third-section{
        padding: 0 15px 25px 15px;
        flex-direction: column;
    }
    #nicolas-filhos{
        width: 100%;
    }
    .texts-div {
        width: 100%;
    }
    .ul-style-2 li {
        width: 100%;
    }
    .texts-div ul {
        padding-left: 25px;
    }
    .sell-section {
        padding: 20px 10px 40px 10px;
    }
    .fourth-section {
        padding: 0 10px 0 10px;
    }
    .fourth-section article {
        flex-direction: column;
    }
    #img-cell{
        display: flex;
        width: 100%;
    }
    .ul-style-2 {
        width: 100%;
        padding: 45px 30px 10px 45px;
        font-size: 16px;
    }
    .duvidas-section{
        padding: 0 10px 0 10px;
    }
    .mobile-header{
        font-size: 20px;
        align-self: center;
        text-align: center;
        margin: auto;
        padding: 40px 0 40px 0;
    }
    footer {
        padding: 20px;
    }
    #padding-ul-fix{
        padding-bottom: 45px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1260px){
    .margin-block{
        margin-right: 10px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1282px){
    .main-section{
        background-position: 25% 50px;
    }
}