*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #05081A;
}
.image-icons{
  margin-bottom: 30px;
}
.lastIconDiv{
  margin-bottom: 100px;
}
.iconsX{
  margin-right: 15px;
}
.calendly-div{
  min-width:320px;
  height:630px;
  border: 6px solid #FBF7F7;
  border-radius: 20px;    
  width: 648px;
}
.details-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.details-content.open {
  max-height: 1000px;
  transition: max-height 0.5s ease-in;
}

@media screen and (max-width: 768px){
  #logo{
    margin: 20px 0 20px 0;
    width: 100%;
    align-self: center;
  }
  .images-mobile{
    width: 90%;
  }
  .lastIconDiv{
    margin-bottom: 120px;
  }
  .image-icons{
    width: 18%;
  }
  .image-icons-two{
    width: 75px;
  }
  .arrow-icons{
    width: 25px !important;
  }
  .cofounders{
    width: 130px;
    margin: auto;
  }
  .calendly-div{   
    width: 100%;
  }
  .logoObg{
    width: 130px;
  }
}