*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'playfair-semi';
    src: url('./fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('./fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulish';
    src: url('./fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulish-semi';
    src: url('./fonts/Mulish-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-bold';
    src: url('./fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-bolder';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muktaMahee-semi';
    src: url('./fonts/MuktaMahee-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-semi';
    src: url('./fonts/Montserrat-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font1{
    font-family: 'playfair';
}
.font2{
    font-family: 'playfair-semi';
}
.font3{
    font-family: 'montserrat-regular';
}
.font4{
    font-family: 'mulish';
}
.font5{
    font-family: 'mulish-semi';
}
.font6{
    font-family: 'poppins';
}
.font7{
    font-family: 'poppins-bold';
}
.font8{
    font-family: 'muktaMahee-semi';
}
.font9{
    font-family: 'montserrat-semi';
}
.font10{
    font-family: 'poppins-bolder';
}
.font-size1{
    font-size: 22px;
}
.text-left{
    text-align: left;
}
.texts-lists{
    display: flex;
    justify-content: space-evenly;
}
.gradient-text1{
    background: linear-gradient(179.34deg, #FFFFFF 0.57%, rgba(255, 255, 255, 0) 104.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 60px;
}
.font-color1{
    color: #FFFFFF;
}
.font-color2{
    color: #000000;
}
.font-medium{
    font-size:large;
}
body{
    background-color: #1C1834;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text-div{
    max-width: 600px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 60px 0;
}
button{
    background: linear-gradient(348.06deg, #EFD37F -76.28%, rgba(222, 189, 102, 0) 439.83%);
    cursor: pointer;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: 0;
    font-size: 22px;
    border-radius: 5px;
}
.gradient-bg{
    background-color: #857346;
    padding: 0;
    border-radius: 5px;
}
.button-div{
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.third-section{
    background: url('./images/bg1.png') no-repeat;
    padding: 220px 0 220px 0;
    margin: 150px 0 0 0;
    display: flex;
    justify-content: space-evenly;
}
.fourth-section{
    text-align: center;
    
}
.third-section p{
    max-width: 500px;
}
.squares{
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    max-width: 200px;
}
#span-sec3{
    font-size: 20px;
}
.sectwo-squares{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}
.support-div{
    padding: 50px;
}
.images-div{
    display: flex;
    align-items: center;
}
.images-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 630px){
    main{
        flex-direction: column;
    }
    header, .logo, header img{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .logo{
        padding: 40px 0;
    }
    .alison-main-img, figure{
        width: 100%;
    }
    main h1{
        font-size: 20px;
    }
    button {
        font-size: 18px;
    }
    main{
        text-align: center;
    }
    .font-medium{
        font-size: medium;
    }
    .sectwo-squares{
        flex-direction: column;
        align-items: center;
    }
    .squares{
        margin-bottom: 80px;
        padding-bottom: 60px;
    }
    .second-section h2{
        font-size: 18px;
        padding: 30px 15px 0 15px;
    }
    .third-section{
        padding: 40px 15px 220px 15px;
        margin: 0;
        align-items: center;
        text-align: center;
    }
    .support-div{
        display: none;
    }
    .triangulo{
        width: 100%;
    }
    .font-size1{
        font-size: 16px;
    }
    .texts-lists{
        flex-direction: column;
    }
    .texts-lists p{
        margin-bottom: 60px;
    }
    .text-left{
        text-align: center;
    }
    .images-div{
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 1048px) and (max-width: 1538px){
    .third-section{
        background-position: 50% 0;
    }
}