*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'shoikaregular';
    src: url('/components/fonts/shoika-regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'typold';
    src: url('/components/fonts/Typold-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reloadedbold';
    src: url('../fonts/ReloadedBold-K73pX.ttf') format('truetype'),
         url('../fonts/ReloadedBold-MVGEP.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rufina';
    src: url('../fonts/Rufina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #0E0E0E;
}
#logo{
    width: 600px;
    margin-bottom: 20px;
    align-self: left;
}
h1{
    font-size: 95px;
    font-family: 'reloadedbold';
    color: white;
}
iframe{
    margin-top: 20px;
    border: white solid 5px;
}
#container-marged{
    margin-right: 80px;
}
aside{
    padding: 7%;
}
aside p{
    font-family: 'montserrat-regular';
    font-size: 24px;
    margin-bottom: 30px;
}
.inputs{
    padding: 20px 190px 20px 20px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    margin: 15px 0 15px 0;
}
#subscribeToList{
    margin-top: 20px;
}
.bonus{
    padding: 15px 50px 15px 50px;
    text-align: center;
    margin: auto;
    width: 480px;
    background: linear-gradient(rgb(212, 212, 212), rgb(175, 175, 175), rgb(163, 163, 163)); /* Standard syntax */
    border-radius: 25px;
}
.bonus h2{
    font-size: 30px;
    font-family:'rufina';
}
.bonus p{
    font-size: 20px;
    font-family: 'montserrat-regular';
    margin-bottom: 15px;
}
.main-description{
    font-size: 32px;
}
.gabriela-font{
    font-family: 'rufina';
}
.date{
    display: flex; 
    margin: 0 0 30px 0;
}
.paragraphs-font{
    font-family: 'montserrat-regular';
    font-size: 22px;
}
.gradient-text{
    background: linear-gradient(to bottom,rgb(239, 239, 239), rgb(218, 218, 218), rgb(186, 186, 186)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
.article-text{
    margin: auto;
    padding: 80px;
    background: linear-gradient(rgb(212, 212, 212), rgb(175, 175, 175), rgb(163, 163, 163)); /* Standard syntax */
    text-align: center;
    font-family:'montserrat-regular';
    font-size: 28px;
}
.ty-footer{
    padding: 40px;
    background: linear-gradient(rgb(212, 212, 212), rgb(175, 175, 175), rgb(163, 163, 163)); /* Standard syntax */
    color: black;
    font-family: 'typold';
    font-size: 20px;
}
.header-section1{
    text-align: center;
    font-size: 38px;
    margin-bottom: 100px;
    width: 100%;
}
.squares-section{
    padding: 70px 240px 0 240px;
    height: 1120px;
    background: url('/components/images/bg-lightining.png') no-repeat;
    background-size: cover;
}
.paragraph-ty{
    font-family: 'typold';
    font-size: 30px;
    color: white;
    padding: 0 200px 150px 200px;
}
.squares{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.squares-images{
    width: 100%;
    -webkit-position: relative !important;
    position: relative !important;
    -webkit-bottom: 20% !important;
    bottom: 20% !important;
}
.images-bg{
    position: relative;
    padding: 0 50px 0 50px;
    margin-bottom: 75px;
    border-radius: 30px;
    height: 280px;
    width: 420px;
    background: linear-gradient(rgb(212, 212, 212), rgb(175, 175, 175), rgb(163, 163, 163)); /* Standard syntax */
}
.text-hr{
    position: relative;
    top: -10%;
}
.mini-text{
    font-size: 17px;
    text-align: center;
    padding: 20px 0 25px 0;
}
.typold-font{
    font-size: 35px;
    font-family: 'typold';
    padding: 40px 200px 90px 200px;
    color: white;
}
.thank-you hr{
    width: 800px;
    margin: auto;
    margin-top: 60px;
    height: 3px;
    border:none;
    background-color: rgb(193, 193, 193);
    align-self: center;
}
.brandingLogo{
    margin-bottom: 0;
}
.nicolas-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 140px 0 140px 0;
    background: url('/components/images/bg-left-light.png') no-repeat;
    background-size: cover;
}
.nicolas-header{
    font-size: 40px;
}
.nicolas-description{
    margin: 20px 0 0 150px;
}
.paragraph-nicolas{
    font-size: 24px;
    font-family: 'montserrat-regular';
}
a{
    text-decoration: none;
    color: #0E0E0E;
}
.nicolas{
    width: 450px;
}
.buttons{
    padding: 20px 120px 20px 120px;
    background: linear-gradient(rgb(231, 231, 231), rgb(205, 205, 205), rgb(190, 190, 190)); /* Standard syntax */
    font-size: 25px;
    font-family: 'shoikaregular';
    border-radius: 18px;
    box-shadow: 0px 0px 18px rgb(244, 244, 244), 0px 0px 15px rgb(207, 207, 207) inset;
    border: none;
}
.buttons:hover{
    color: white;
    background: linear-gradient(rgb(167, 167, 167), rgb(141, 141, 141), rgb(85, 85, 85)); /* Standard syntax */
    transition: 0.3s;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#button2{
    margin: 35px 0 35px 0;
}
aside{
    background: url('/components/images/wolf-pc.png') no-repeat;
    background-size: cover;
    background-position: 100%;
}
.copyright{
    color: rgb(219, 219, 219);
    font-family: 'montserrat-regular';
    font-size: 17px;
    padding: 15px 0 23px 0;
}
footer hr{
    background-color: rgb(173, 173, 173) !important;
    margin-bottom: 0px !important;
    width: 350px;
}
.thank-you{
    text-align: center;
    padding-top: 130px;
    background: url('/components/images/obrigado-bg.png') no-repeat;
    background-size: cover;
}
#percent{
    width: 900px;
}
#percent-mobile{
    display: none;
}
.thank-you h1{
    font-size: 115px;
}
.header-obrigado{
    font-size: 45px;
    padding: 80px 200px 40px 200px;
}
.images-bg hr, .bonus hr{
    width: 170px;
    margin: auto;
    height: 2px;
    border:none;
    background-color: #0E0E0E;
}
@media screen and (max-width: 768px){
    .nicolas-section{
        flex-direction: column;
        padding: 15px 0 70px 0;
        text-align: left;
    }
    footer hr{
        width: 250px;
    }
    .date{
        align-self: center; 
        justify-content: center;
    }
    .squares-section{
        background: url('/components/images/bg-lightining-mobile.png') no-repeat;
        background-size: cover;
    }
    .nicolas{
        width: 500px;
        align-self: center;
    }
    .nicolas-description{
        margin: 0;
        align-self: center;
        padding: 0 30px 0 30px;
    }
    .paragraph-nicolas{
        font-size: 18px;
    }
    aside{
        text-align: center;
        padding: 10% 7% 87% 7%;
        background: url('/components/images/wolf-mobile.png') no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    aside p{
        font-size: 20px;
    }
    aside br, .article-text br{
        display: none;
    }
    .squares-section{
        padding: 70px 30px 0 30px;
        height: 1800px;
    }
    .header-section1{
        font-size: 25px;
    }
    .main-description{
        font-size: 23px;
        margin-bottom: 15px;
    }
    h1{
        font-size: 60px;
        margin-bottom: 30px;
    }
    .article-text{
        padding: 100px 50px 100px 50px;
        font-size: 20px;
    }
    .buttons{
        padding: 3% 10% 3% 10%;
        font-size: 20px;
    }
    .excl-id{
        display: none;
    }
    .inputs{
        padding: 10px 35px 10px 20px;
        font-size: 25px;
    }
    #logo{
        -webkit-width: 90%;
        width: 90%;
    }
    #percent{
        display: none;
    }
    #percent-mobile{
        display: block;
        width: 80%;
        margin: auto;
    }
    .header-obrigado{
        font-size: 21px;
        padding: 10px 20px 0 20px;
    }
    .typold-font{
        font-size: 23px;
        padding: 0 20px 30px 20px;
    }
    .squares{
        flex-direction: column;
    }
    .paragraph-ty{
        font-size: 17px;
        padding: 0 20px 60px 20px;
    }
    .thank-you hr{
        width: 300px;
        margin: 20px auto 20px auto;
        height: 1px;
    }
    .thank-you h1{
        font-size: 55px;
    }
    .thank-you{
        padding-top: 80px;
        background: url('/components/images/obrigado-bg-mobile.png') no-repeat;
        background-size: cover;
    }
    .ty-footer{
        font-size: 10px;
        padding: 20px;
    }
    #ty-button{
        padding: 15px 60px 15px 60px;
        border-radius: 10px;
    }
    iframe{
        width: 90%;
        height: 300px;
    }
    #container-marged{
        margin: 0;
    }
    .images-bg{
        margin-bottom: 120px;
        height: 240px;
    }
    .images-bg br{
        display: none;
    }
    .text-hr{
        -webkit-bottom: 30%;
        bottom: 30%;
    }
    .bonus{
        padding: 15px 10px 15px 10px;
        width: 100%;
    }
    .bonus h2{
        font-size: 25px;
    }
    .bonus p{
        font-size: 15px;
    }
    #last-image{
        margin-bottom: 55px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1188px){
    .nicolas-description{
        margin-left: 0;
    }
    .nicolas-section{
        flex-direction: column;
        text-align: center;
    }
    .article-text{
        font-size: 23px;
    }
    .article-text br{
        display: none;
    }
    .squares-section{
        padding: 70px 20px 0 20px;
    }
    .nicolas{
        align-self: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1500px){
    aside{
        background-position: 60%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .nicolas{
        width: 300px;
    }
    .images-bg{
        width: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .buttons{
        padding: 20px 25px 20px 25px;
        font-size: 18px;
    }
    .inputs{
        padding: 10px 15px 10px 20px;
        font-size: 20px;
    }
}